video.video {
  object-position: center;
  border-radius: 4px;
  min-height: 0;
  min-width: 0;
}

.participant {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.placeholder {
  background: #C4C4C4;
  width: 100%;
  height: 100%;
}

.participantBar {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
  width: calc(100% - 16px);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 6px 8px 6px 8px;
  font-weight: 500;
  font-size: 12px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.screenShare {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.iconRed {
  color: #981010;
}

.controlsWrapper {

}

.buttonWrapper {
  display: inline-block;
  margin: 4px;
  white-space: nowrap;
}

.button {
  display: inline-block;
  border-radius: 44px;
  border: none;
  background: #2F2F2F;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  color: white;
  font-weight: normal;
  font-size: 14px;
  white-space: nowrap;
}

.button:active {
  border: none;
}

.button:hover {
  background: #434343;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.button .icon {
  display: inline-block;
  margin-right: 8px;
}

button.dangerButton {
  background: #981010;
}

button.dangerButton:hover {
  background: #b81212;
}

button.dropdown {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 12px;
  padding-right: 15px;
  margin-left: 0;
}

button.hasDropdown {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 12px;
  margin-right: 0;
}

.separator {
  display: inline-block;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-right: 8px;
  margin-left: -12px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  width: 1px;
  height: 20px;
}

.popoverMenu {
  background: #2F2F2F;
  border-radius: 4px;
  margin-bottom: 5px;
}

ul.list {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-inline: 0;
}

ul.list li {
  font-size: 14px;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

ul.list li:first-child {
  border: 0;
}