video.video {
  object-position: center;
  border-radius: 4px;
  min-height: 0;
  min-width: 0;
}

.participant {
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0);
}

.speaker {
  border: 2px solid #28994e;
}

.placeholder {
  background: #c4c4c4;
  width: 100%;
  height: 100%;
}

.participantBar {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 6px 8px 6px 8px;
  font-weight: 500;
  font-size: 12px;
  display: grid;
  gap: 8px;
  grid-template-columns: auto 1fr min-content min-content;
  justify-content: space-evenly;
  align-items: center;
}

.participantBar .name {
  white-space: nowrap;
  justify-self: start;
}

.participantBar .center {
  justify-self: center;
}

.participantBar .stats {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.screenShare {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.iconRed {
  color: #981010;
}

.controlsWrapper {
}

.buttonWrapper {
  display: inline-block;
  margin: 4px;
  white-space: nowrap;
}

.button {
  display: inline-block;
  border-radius: 44px;
  border: none;
  background: #2f2f2f;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  color: white;
  font-weight: normal;
  font-size: 14px;
  white-space: nowrap;
}

.button:active {
  border: none;
}

.button:hover {
  background: #434343;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.button .icon {
  display: inline-block;
  margin-right: 8px;
}

button.dangerButton {
  background: #981010;
}

button.dangerButton:hover {
  background: #b81212;
}

button.dropdown {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 12px;
  padding-right: 15px;
  margin-left: 0;
}

button.hasDropdown {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 12px;
  margin-right: 0;
}

.separator {
  display: inline-block;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-right: 8px;
  margin-left: -12px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  width: 1px;
  height: 20px;
}

.popoverMenu {
  background: #2f2f2f;
  border-radius: 4px;
  margin-bottom: 5px;
}

ul.list {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-inline: 0;
}

ul.list li {
  font-size: 14px;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

ul.list li:hover {
  background: #434343;
}

ul.list li:first-child {
  border: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.unmuteButton {
  display: block;
  background-color: #5a8bff;
  cursor: pointer;
  padding: 12px 20px;
  border: none;
  color: white;
  font-weight: 700;
  filter: drop-shadow(3px 7px 13px rgba(0, 0, 0, 0.17));
  border-radius: 8px;
  text-transform: uppercase;
}

.unmuteButton:active {
  border: none;
}

.unmuteButton .icon {
  display: inline-block;
  margin-right: 12px;
}
