.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto min-content min-content;
  min-height: 0;
  row-gap: 16px;
}

.stage {
  display: grid;
  overflow: hidden;
}

.participantsArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  column-gap: 8px;
}

.controlsArea {
  height: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
}
